html,
body,
#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1e1e2f, #121217);
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}
